Package: com.fahlnbg.ikghdCr
Name: ikghd Repo Cr
Architecture: iphoneos-arm
Description: Plugin for Cracktool
Maintainer: fahlnbg
Author: fahlnbg
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.julioverne.cracktool4
Version: 0.1

